<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>

        
        <label for="cars">Choose a car:</label>

        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <p></p>
        <label for="name">Za ile chcesz kupić? : </label>
        <input type="text" id="tytul" name="tytul"><br>
        <label for="name">Autor: </label>
        <input type="text" id="author" name="author"><br>
        
        <input type="Przelicz" value="send">
        <p>dane jak tytuł książki, autora, opis, rok wydania, możesz też spróbować dodać pole pliku, w którym wstawiać można by było zdjęcie okładki.</p>
    </form>
</body>
</html>

